---
interface Props {
  location: string;
  paquetes: string;
}
import { Icon } from "astro-icon/components";
const { location, paquetes } = Astro.props;
---

<div
  class="relative group cursor-pointer flex flex-row items-center rounded hover:bg-[#3554d1] hover:text-white p-5 bg-[#f5f5f5]"
>
  <Icon
    name="destination"
    class="w-6 h-6 stroke-[#051036] group-hover:stroke-white"
  />
  <div class="">
    <h3
      class="text-[#051036] group-hover:text-white font-medium text-[16px] ml-4"
    >
      {location}
    </h3>
    <p class="text-[#697488] group-hover:text-white text-sm ml-4">
      {paquetes} paquetes
    </p>
  </div>
</div>
