---

---

<section class="  ">
  <div
    class="m-auto flex max-w-screen-2xl py-12 gap-8  px-3 sm:px-8 lg:py-16 lg:px-16 xl:px-24 xl:pt-24  items-center  flex-col justify-center lg:flex-row"
  >
    <div class="flex h-full flex-col relative    md:min-w-[800px]">
      <img
        src="https://cdn.getyourguide.com/img/tour/5b56c720e5f60.jpeg/145.jpg"
        role="presentation"
        alt="cuzco"
        width="800"
        class=" lg:mb-0 lg:h-auto  object-cover  rounded "
      />
      <div class="absolute inset-0 bg-black opacity-20"></div>
    </div>
    <div
      class="flex  flex-col items-center gap-12  text-center md:gap-8 lg:items-start  lg:pb-0 lg:text-start  2xl:gap-12 "
    >
      <!-- <span
        class="inline-flex rounded-[64px] text-center font-semibold transition-all duration-300 ease-in-out h-7 px-3 py-1.5 text-sm leading-tight text-white bg-[#0D6EFD] "
        >En Tendencia</span
      > -->
      <div class="flex max-w-lg flex-col gap-6">
        <h3 class="text-2xl font-semibold text-[#051036] md:text-4xl">
          Excursión a las ruinas incas de Machu Picchu
        </h3>
        <h4 class="text-lg font-normal leading-7 text-[#697488]">
            Descubre la maravilla del mundo antiguo en una excursión de un día a
            las ruinas incas de Machu Picchu. Con un guía experto, aprenda sobre
            la historia de la ciudad y vea los templos, terrazas y plazas
            principales. Disfrute de un almuerzo en un restaurante local antes de
            regresar a Cusco.
        </h4>
      </div>
      <div class="flex flex-col gap-8">
        <div class="flex gap-4">
          <button
            type="button"
            class="group inline-flex items-center justify-center whitespace-nowrap rounded py-2 align-middle text-sm font-semibold leading-none transition-all duration-300 ease-in-out disabled:cursor-not-allowed bg-[#f8d448] stroke-white px-6 text-[#051036] hover:bg-[#f8e648] h-[42px] min-w-[42px] gap-2 disabled:bg-slate-100 disabled:stroke-slate-400 disabled:text-slate-400 disabled:hover:bg-slate-100"
          >
            <span>Reserva ya</span>
          </button>
        </div>
        <div class="flex flex-col gap-4 md:flex-row md:gap-0">
          <div class="flex flex-col items-center justify-center md:items-start">
            <div class="flex gap-2">
              <div class="flex items-center justify-center gap-0.5">
                <div class="relative">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    xmlns="http://www.w3.org/2000/svg"
                    class="fill-amber-300 stroke-amber-300"
                  >
                    <path
                      d="M12 3L14.781 8.59516L21 9.4979L16.5 13.8507L17.562 20L12 17.0952L6.438 20L7.5 13.8507L3 9.4979L9.219 8.59516L12 3Z"
                    ></path>
                  </svg>
                </div>
              </div>
              <p class="text-base font-semibold">4.95/5</p>
            </div>
            <p class="text-sm text-slate-500">Base on over 256+ reviews</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
