---
import CargGalery from "./core/carg-galery.astro"
---

<section class="flex flex-col m-auto w-full max-w-screen-2xl py-32">
  <div class="sm:px-8 lg:px-16 xl:px-24 w-full">
    <h1 class="text-3xl text-center text-[#051036] font-semibold mb-5">
      Nuestra Galería
    </h1>
    <p class="text-wrap text-center text-[#697488] mb-12">
      Conoce nuestras instalaciones y los servicios que ofrecemos.
    </p>
    <div
      class="grid grid-flow-col  xl:grid-row-2 gap-5"

    >
        <!-- <CargGalery /> -->


    </div>
  </div>
</section>
